@{
    ViewData["Title"] = "Home";
}

<!-- Banner -->
<section class="banner banner-01 bg-holder bg-overlay-black-80" style="background-image: url(dist/images/bg/01.jpg);">
    <div class="container">
        <div class="row justify-content-center position-relative">
            <div class="col-lg-10 text-center">
                <h1 class="text-white mb-3">Setup up great events</h1>
                <p class="text-white banner-sub-title mb-5">Get Ready for The Next Event, Buy Tickets Now And Stay With Us</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <form class="home-search">
                    <div class="state-search">
                        <div class="form-group mb-3 mb-lg-0">
                            <span>What?</span>
                            <input type="text" class="form-control" placeholder="Ex: events name">
                        </div>
                    </div>
                    <div class="state-submit">
                        <a class="btn btn-primary" href="#"> <i class="fas fa-search-location"></i> Search </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Events -->
<section class="space-ptb">
    <div class="container">
        <div class="row d-flex align-items-center mb-4 mb-lg-5">
            <div class="col-md-12 col-lg-8 col-xl-6">
                <div class="section-title mb-0">
                    <h2>Upcoming Concerts & Events</h2>
                    <div class="sub-title"> <span>
                        Make yout concerts & events unforgettable moments with us
                    </span></div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 col-xl-6 text-lg-end text-start mt-4 mt-lg-0">
                <a class="btn btn-primary" asp-area="" asp-controller="Event" asp-action="Index"><span>View All</span></a>
            </div>
        </div>
        <div class="row" id="upcoming-events">
        </div>
    </div>
</section>

<!-- Category -->
<section class="space-pb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    <h2>Search By Category!</h2>
                    <div class="sub-title"> <span>Make searching easy for your customers to find the perfect concert or event!</span></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="category">
                    <ul class="list-unstyled mb-0" id="categories">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/home.js"></script>
}
