@{
    ViewData["Title"] = "Cancel Ticket";
}

<!-- Page Title -->
<section class="page-title page-title-bottom bg-holder bg-overlay-black-50">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6">
                <h1 class="text-white">Order Booking</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order Booking</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- Cancel -->
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="bg-white p-4 shadow-sm border-radius">
                    <h4 class="mb-4">Nama Event</h4>
                    <h6 class="mb-4">Your order has been cancelled by some reason</h6>
                    <h6 class="mb-4">Please try again</h6>
                    <div class="mb-4">
                        <a href="">Order Id : 5RL97D15P9</a> 2 Tickets
                    </div>
                    <a href="" class="btn btn-secondary">GO TO EVENT</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
