@{
    ViewData["Title"] = "Order Success";
}

<!-- Page Title -->
<section class="page-title page-title-bottom bg-holder bg-overlay-black-50" style="background: url(../dist/images/bg/02.jpg);">
    <div class="container">
        <div class="row position-relative">
            <div class="col-lg-6">
                <h1 class="text-white">Order Success</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Order Success</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- Success -->
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="bg-white p-4 shadow-sm border-radius">
                    <h4 class="mb-4" id="event_title"></h4>
                    <h6 class="mb-4">Your order has been saved to My Tickets</h6>
                    <div class="mb-4">
                        <a href="">Order Id : <span id="transaction_id"></span></a> <span id="total_ticket"></span> Tickets
                    </div>
                    <a asp-area="" asp-controller="Order" asp-action="Index" class="btn btn-secondary">GO TO MY TICKETS</a>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/orders/success.js"></script>
}
