@{
    ViewData["Title"] = "Approve Payment";
}

<!-- Page Title -->
<section class="page-title page-title-bottom bg-holder bg-overlay-black-50" style="background: url(../dist/images/bg/02.jpg);">
    <div class="container">
        <div class="row align-items-center position-relative">
            <div class="col-lg-6">
                <div class="d-flex align-items-center">
                    <img class="img-fluid rounded-circle avatar avatar-xll" src="~/dist/images/avatar/01.jpg" alt="">
                    <div class="ms-4">
                        <h3 class="text-white mb-2"> Alice Williams</h3>
                        <div class="d-flex">
                            <span class="d-inline-block text-white">The first thing to remember about success.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- My Profile -->
<section class="space-ptb bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="sidebar">
                    <partial name="~/Views/Shared/_Partials/_Sidebar.cshtml" />
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <h4 class="mb-4">Payment List</h4>
                <div class="sidebar mb-0">
                    <div class="widget mb-0">
                        <div class="widget-title">
                            <h6> <i class="far fa-calendar-alt"></i> Request Payment: </h6>
                        </div>
                        <div class="widget-content">
                            <div class="border-bottom pb-4 mb-4">
                                <div class="row">
                                    <div class="col-xl-1 col-lg-2">
                                        <div class="avatar avatar-lg">
                                            <img src="~/dist/images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                    </div>
                                    <div class="col-xl-11 col-lg-10">
                                        <div class="px-xl-4 px-0 mt-lg-0 mt-3">
                                            <div class="d-sm-flex align-items-center">
                                                <h6 class="mt-0">Ora Bryan</h6>
                                                <div class="d-flex ms-auto mb-3">
                                                    <a href="#" class="bg-success-soft text-success border-radius px-3 py-1 font-sm me-2"> Approved </a>
                                                    <a href="#" class="bg-danger-soft text-danger border-radius px-3 py-1 font-sm"> Rejected </a>
                                                </div>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Event Title: </strong> <span>Title</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Order Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Amount: </strong> <span>Online</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Payment Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="d-flex">
                                                <a class="btn btn-secondary btn-sm" href="#"> <i class="far fa-file-image pe-1"></i> Payment Image </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="border-bottom pb-4 mb-4">
                                <div class="row">
                                    <div class="col-xl-1 col-lg-2">
                                        <div class="avatar avatar-lg">
                                            <img src="~/dist/images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                    </div>
                                    <div class="col-xl-11 col-lg-10">
                                        <div class="px-xl-4 px-0 mt-lg-0 mt-3">
                                            <div class="d-sm-flex align-items-center">
                                                <h6 class="mt-0">Ora Bryan</h6>
                                                <div class="d-flex ms-auto mb-3">
                                                    <a href="#" class="bg-success-soft text-success border-radius px-3 py-1 font-sm me-2"> Approved </a>
                                                    <a href="#" class="bg-danger-soft text-danger border-radius px-3 py-1 font-sm"> Rejected </a>
                                                </div>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Event Title: </strong> <span>Title</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Order Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Amount: </strong> <span>Online</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Payment Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="d-flex">
                                                <a class="btn btn-secondary btn-sm" href="#"> <i class="far fa-file-image pe-1"></i> Payment Image </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="row">
                                    <div class="col-xl-1 col-lg-2">
                                        <div class="avatar avatar-lg">
                                            <img src="~/dist/images/avatar/01.jpg" class="img-fluid rounded-circle" alt="...">
                                        </div>
                                    </div>
                                    <div class="col-xl-11 col-lg-10">
                                        <div class="px-xl-4 px-0 mt-lg-0 mt-3">
                                            <div class="d-sm-flex align-items-center">
                                                <h6 class="mt-0">Ora Bryan</h6>
                                                <div class="d-flex ms-auto mb-3">
                                                    <a href="#" class="bg-success-soft text-success border-radius px-3 py-1 font-sm me-2"> Approved </a>
                                                    <a href="#" class="bg-danger-soft text-danger border-radius px-3 py-1 font-sm"> Rejected </a>
                                                </div>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Event Title: </strong> <span>Title</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Order Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Amount: </strong> <span>Online</span>
                                            </div>
                                            <div class="booking-item d-flex mb-3">
                                                <strong class="col-6 col-sm-3">Payment Date: </strong> <span>10 Jan 2022</span>
                                            </div>
                                            <div class="d-flex">
                                                <a class="btn btn-secondary btn-sm" href="#"> <i class="far fa-file-image pe-1"></i> Payment Image </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
