@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Breadcrumbs -->
<div class="breadcrumb-wrapper d-flex align-items-start align-items-sm-center justify-content-between flex-column flex-sm-row">
    <div class="breadcrumb-wrapper--inner d-flex flex-column-reverse">
        <h1>Dashboard</h1>
        <ol class="breadcrumb style-1">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Dashboard</li>
        </ol>
    </div>
</div>

<!-- Main Content -->
<ul>
    <li class="media px-0">
        <i class="text-white bi bi-wallet icon-3x"></i>
        <div class="media-body">
            <h5 class="text-white">Analytics</h5>
            <p class="text-white opacity-75 mb-2">Used for general analytics. </p>
            <a class="text-white text-uppercase dsh-semi-bold small" href="pages/dashboard/dashboard-analytics.html">Launch Dashboard</a>
        </div>
    </li>
    <li class="media px-0">
        <i class="text-white bi bi-file-earmark icon-3x"></i>
        <div class="media-body">
            <h5 class="text-white">Ecommerce</h5>
            <p class="text-white opacity-75 mb-2">Used to track ecommerce business. </p>
            <a class="text-white text-uppercase dsh-semi-bold small" href="pages/dashboard/dashboard-ecommerce.html">Launch Dashboard</a>
        </div>
    </li>
    <li class="media px-0 pb-0">
        <i class="text-white bi bi-pie-chart icon-3x"></i>
        <div class="media-body">
            <h5 class="text-white">Support</h5>
            <p class="text-white opacity-75 mb-2">Used for support centers. </p>
            <a class="text-white text-uppercase dsh-semi-bold small" href="pages/dashboard/dashboard-support.html">Launch Dashboard</a>
        </div>
    </li>
</ul>