@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Breadcrumbs -->
<div class="breadcrumb-wrapper d-flex align-items-start align-items-sm-center justify-content-between flex-column flex-sm-row">
    <div class="breadcrumb-wrapper--inner d-flex flex-column-reverse">
        <ol class="breadcrumb style-1">
            <li class="breadcrumb-item"><a href="#">Admin</a></li>
            <li class="breadcrumb-item" aria-current="page">Dashboard</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="dsh-section-title">
                    <h5 class="card-title">Events</h5>
                </div>
                <table class="table table-hover dsh-responsive-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Start Time</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="aproved-event">
                        
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class="col-xl-6">

        <!-- Country Overview -->
        <div class="card card-fh">
            <div class="card-body">
                <div class="dsh-section-title">
                    <h5 class="card-title">Organizer</h5>
                </div>
                <table class="table table-hover dsh-responsive-table">
                    <thead>
                        <tr>
                            <th>Name</th>               
                            <th>Description</th>
                            <th>Website</th>
                        </tr>
                    </thead>
                    <tbody id="list-organizer">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /Country Overview -->

    </div>

    <div class="col-xl-5">

        <!-- Sessions By Device -->
        <div class="card card-fh">
            <div class="card-body">
                <div class="dsh-section-title d-flex align-items-center justify-content-between flex-wrap flex-md-nowrap">
                    <div>
                        <h5 class="card-title">Event Views</h5>
                    </div>
                </div>
                    <table class="table table-hover dsh-responsive-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Visits</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody id="event-visited">
                            
                        </tbody>
                    </table>
                <hr class="dsh-seperator">

            </div>
        </div>
        <!-- /Sessions By Device -->

    </div>

    <div class="col-xl-7">

        <!-- Active Users -->
        <div class="card">
            <div class="card-body">
                <div class="dsh-section-title">
                    <h5 class="card-title">Active Users right now</h5>
                    <h6 class="card-subtitle">Here you can monitor all the users currently browsing your site</h6>
                </div>
                <table class="table table-hover dsh-responsive-table mb-0">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Country ID</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody id="user-list">
                        
                    </tbody>
                </table>

            </div>
        </div>
        <!-- /Active Users -->
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/dist/js/select2/select2.full.js"></script>
    <script src="~/dist/js/dropzone/dropzone.js"></script>
    <script src="~/admin/assets/js/index.js"></script>
}