@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_LayoutAdminEmpty.cshtml";
}

<!-- Main Content -->
<main class="body-content clearfix">

	<div class="row no-gutters min-100vh">

		<!-- /Login Background slider -->
		<div class="col-lg-8 d-none d-lg-block">
			<div class="dsh-auth-bg">
				<div class="dsh-slider m-0">
					<div class="dsh-auth-bg-item">
						<div class="dsh-auth-bg-item--inner p-5 m-5">
							<h3>Welcome back user!</h3>
							<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
						</div>
					</div>
					<div class="dsh-auth-bg-item">
						<div class="dsh-auth-bg-item--inner p-5 m-5">
							<h3>Have a great day today!</h3>
							<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
						</div>
					</div>
					<div class="dsh-auth-bg-item">
						<div class="dsh-auth-bg-item--inner p-5 m-5">
							<h3>It's good to have you back</h3>
							<p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Login Background slider -->
		<!-- Login Form -->
		<div class="col-lg-4 bg-white">
			<div class="dsh-auth-form d-flex flex-column align-items-center justify-content-between py-5">
				<div class="text-center mb-3">
					<img src="~/dist/images/logo.svg" class="mb-3" alt="Gnarly">
					<h2>Login to your account</h2>
					<span class="text-muted d-block">It's good to have you back! </span>
				</div>
				<div class="dsh-auth-form-inner">
					<form method="post">
						<div class="form-group">
							<label>Username</label>
							<input type="text" class="form-control" placeholder="Username" name="username" value="">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" class="form-control" placeholder="Password" name="password" value="">
						</div>
						<div class="form-group">
							<div class="d-flex align-items-center justify-content-between">
								<div class="form-check custom-checkbox">
									<input type="checkbox" class="form-check-input" id="rememberMe">
									<label class="form-check-label" for="rememberMe">Remember Me</label>
								</div>
								<a href="forgot-password.html">Forgot Password?</a>
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-primary btn-block" name="login">Login</button>
						</div>
						<p class="text-center"> Don't have an account? <a href="/Admin/Register">Create One</a> </p>
					</form>
				</div>
				<div class="dsh-auth-footer text-center">
					<p> &copy; All Rights Reserved 2023 - AndromedaThemes </p>
					<ul class="list-inline text-center">
						<li class="list-inline-item"> <a href="#">Legal</a> </li>
						<li class="list-inline-item"> <a href="#">Privacy Policy</a> </li>
						<li class="list-inline-item"> <a href="#">Return Policy</a> </li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /Login Form -->
	</div>
</main>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/admin/vendor/js/dsh-auth.js"></script>
}