<div class="widget">
    <div class="widget-content dashboard-nav">
        <ul class="list-unstyled">
            <li><a class="sidebar-net-dashboard" is-active-route asp-area="" asp-controller="Event" asp-action="Dashboard"> Events Dashboard</a></li>
            <li><a class="sidebar-net-order" is-active-route asp-area="" asp-controller="Event" asp-action="Order"> Events Order</a></li>
            <li><a class="sidebar-net-revenue" is-active-route asp-area="" asp-controller="Event" asp-action="Revenue"> Revenue Earned</a></li>
            <li><a class="sidebar-net-ticket" is-active-route asp-area="" asp-controller="Event" asp-action="OrderTicket"> Events Order Tickets</a></li>
        </ul>
        <div class="d-grid gap-2">
            <a class="btn btn-secondary btn-sm mt-2" href="#">Download Attendee List</a>
        </div>
    </div>
</div>
